body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/736x/70/6f/28/706f281185a1aaf62f59f7abbb76bdc1--aesthetic-grunge-background-space-aesthetic-tumblr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}







h1 {
    color: rgb(146, 66, 244);
    padding: 4%;
    margin: 0%;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
    background-image: url("http://s3.favim.com/orig/151209/background-beautiful-cloud-galaxy-Favim.com-3739043.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px skyblue solid;
    border-top: 10px skyblue solid;
}
h2 {
    margin-left: 10%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
h3 {
    margin-left: 10%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
p, strong {
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
p {
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.image {
    margin: auto;
    width: 300px;
    position: absolute;
    left: 750px;
    top: 100px;
    border: 10px burlywood solid;

}